import React from "react";

const {{pascalCase page}} = () => {
  return (
    <div className="p-4">
      <h1 className="text-xl font-bold">{{pascalCase page}}</h1>
    </div>
  );
};

export default {{pascalCase page}};
